<!-- templates/chat.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GuminAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 디자인을 위한 뷰포트 설정 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- 파비콘 설정 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">  <!-- CSS 파일 연결 -->
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <button id="menu-button">
                <img src="{{ url_for('static', filename='images/menu_icon.png') }}" alt="Menu" class="menu-icon">
            </button>
            <h2>GuminAI</h2>
            <select id="model-select">
                <option value="model1">성내구민</option>
                <option value="model2">성동구민</option>
                <option value="model3">도날드(BETA)</option>
            </select>
        </div>
        <!-- 사이드 메뉴 -->
        <div id="side-menu" class="side-menu">
            <div class="side-menu-content">
                <p>저작권 정보</p>
                <a href="#">
                    <img src="{{ url_for('static', filename='images/github_icon.png') }}" alt="GitHub" class="github-icon">
                </a>
                <!-- 기타 내용 -->
            </div>
        </div>
        <!-- 모델 소개 박스 -->
        <div class="model-intro" id="model-intro"></div>
        <!-- 질문 예시 박스 -->
        <div class="example-questions" id="example-questions">
            <button id="toggle-questions">
                <img src="{{ url_for('static', filename='images/arrow_down_icon.png') }}" alt="Toggle Questions">
            </button>            
            <div id="questions-container">
                {% for question in example_questions %}
                    <button class="example-question">{{ question }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="chat-messages" id="chat-messages">
            <div class="chat-logo" id="chat-logo">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="GuminAI 로고">
                <p>안녕하세요! 구미나이입니다. 무엇을 도와드릴까요?</p>
            </div>
        </div>
        <div class="chat-input">
            <textarea id="chat-input" placeholder="메시지를 입력하세요" rows="1"></textarea>
            <button id="send-button">
                <img src="{{ url_for('static', filename='images/send_icon.png') }}" alt="Send">
            </button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
